@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*, ::after, ::before{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
img{
  max-width: 100%;
  display: block;
  margin:0 auto;
}
html{
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green:hsl(150, 100%, 66%);
  --gray-blue:hsl(217, 19%, 38%);
  --dark-gray-blue:hsl(217, 19%, 24%);
  --dark-blue:hsl(218, 23%, 16%);
  --fs-big:28px;
  --fs-small:13px;
  --card-width-lg: 540px;
  --ff-main:'Manrope', sans-serif;
  --fw-bold:800;
}

body{
  background-color:var(--dark-blue);
  font-family: var(--ff-main);
}
main{
  padding:16px;
  display:flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

